<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Medios Audiovisuales</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Medios Audiovisuales</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            @if (this.User.IsInRole("Responsable") || this.User.IsInRole("Administrador"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown">Préstamos</a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Loans" asp-action="Index">Préstamos</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="LoanDetails" asp-action="Index">Detalles de préstamos</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Materials" asp-action="Index">Materiales</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown">Usuarios</a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Interns" asp-action="Index">Becarios</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Administrators" asp-action="Index">Administradores</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Applicants" asp-action="Index">Solicitantes</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Owners" asp-action="Index">Responsables</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown">Catalogos</a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="ApplicantTypes" asp-action="Index">Tipo de Solicitantes</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="MaterialTypes" asp-action="Index">Tipo de Materiales</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Status" asp-action="Index">Estados</a>
                                    </ul>
                                </li>
                            }
                            else 
                            @if (this.User.IsInRole("Becario"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown">Préstamos</a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Loans" asp-action="Index">Préstamos</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="LoanDetails" asp-action="Index">Detalles de préstamos</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Materials" asp-action="Index">Materiales</a>
                                    </ul>
                                </li>
                            }
                            else
                            @if (this.User.IsInRole("Solicitante"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown">Préstamos</a>
                                    <ul class="dropdown-menu">
                                        <a class="dropdown-item" asp-area="" asp-controller="Materials" asp-action="Index">Materiales</a>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                    <a href="#" class="nav-link text-dark" data-toggle="dropdown"><span class="fas fa-user"></span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Account" asp-action="DetailsA" asp-route-id="@(this.User.Identity.Name)">@this.User.Identity.Name</a>
                                        @if (this.User.IsInRole("Responsable") || this.User.IsInRole("Administrador"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Index">Users List</a>
                                        }
                                        <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </div>
                                </li>
                        </ul>
                    </div>
                    }
                    else 
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="myfooter" class="border-top footer text-muted">
        <div class="container">
            <p style="color : aliceblue">
                &copy; 2022 - Universidad Madero - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    #myfooter{
        background-size: cover;
        background: url(../Images/plecahd.png); 
        background-color: grey;
    }
</style>