@model MAV.Web.Data.Entities.Applicant

@{
    ViewData["Title"] = "Detalles del Solicitante";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
       <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantType.Name)
        </dt>
        <dd class="col-sm-10">
           @Html.DisplayFor(model => model.ApplicantType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Debtor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Debtor)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.IsInRole("Responsable") || this.User.IsInRole("Administrador"))
    {
        <a asp-action="Index" class="btn btn-outline-primary"><span class="fas fa-arrow-left"></span></a>
    }
</div>