@model MAV.Web.Data.Entities.Intern

@{
    ViewData["Title"] = "Borrar Becario";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h2>Borrar Becario</h2>

<h3>¿Esta seguro de borrar este Becario?</h3>
<h4>Se borraran todos los datos relacionados al usuario sobre Becario</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
         <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary"> <span class="fas fa-arrow-left"></span></a>
        <button type="submit" class="btn btn-danger"><span class="fas fa-trash"></span></button>
    </form>
</div>
