@model MAV.Web.Data.Entities.User

@{
    ViewData["Title"] = "Borrar usuario";
}

<h2>Borrar Usuario</h2>

<h3>¿Estás seguro que quieres borrar este usuario?</h3>
<h4>Se borraran todos los datos relacionados al usuario</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-outline-primary"> <span class="fas fa-arrow-left"></span></a>
        <button type="submit" class="btn btn-outline-danger"><span class="fas fa-trash"></span></button>
    </form>
</div>
