@model MAV.Web.Data.Entities.User

@{
    ViewData["Title"] = "View User";
}

<h2>View User</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div>
    @if (this.User.IsInRole("Responsable") || this.User.IsInRole("Administrador"))
    {
        <a asp-action="Index" class="btn btn-primary"></a>
    }

     <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"></a>    
</div>
