@model IEnumerable<MAV.Web.Data.Entities.User>
@{
    ViewData["Title"] = "Users' List";
}


<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Todos los usuarios</h2>
            </div>
            <div class="panel-body">
                <p>
                    <a asp-action="Register" class="btn btn-success"><span class="fas fa-plus"></span></a>
                </p>
                
                <table class="table table-hover table-responsive table-striped" id="MiTabla">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>

                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><span class="fas fa-eye"></span></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><span class="fas fa-pen"></span></a>
                                    @if (this.User.IsInRole("Administrador"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span class="fas fa-trash"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>