@model IEnumerable<MAV.Web.Data.Entities.Loan>

@{
    ViewData["Title"] = "Préstamos";
}



<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Préstamos</h2>
                @Html.ValidationMessage("CustomError")
                <div class="text-danger">@Html.ValidationSummary(true)</div>
            </div>
            <div class="panel-body">
                @if (this.User.IsInRole("Becario"))
                {
                    <p>
                        <a asp-action="Create" class="btn btn-outline-success"><span class="fas fa-plus"></span></a>
                    </p>
                }

                <table id="MiTabla">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Applicant)</th>
                            <th>@Html.DisplayNameFor(model => model.Intern)</th>
                            <th>@Html.DisplayNameFor(model => model.LoanDetails)</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                @Html.DisplayFor(modelItem => item.Applicant.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Intern.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoanDetails.Count)
                            </td>
                            @if (item.LoanDetails.Count == 0 || item.LoanDetails == null)
                            {
                                <td>-------------</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.LoanDetails.First().DateTimeOut)</td>
                            }
                                    @{
                                    var regresado = true;
                                    foreach (MAV.Web.Data.Entities.LoanDetail ld in item.LoanDetails)
                                    {
                                        if (ld.Status.Id == 2)
                                        {
                                            regresado = false;
                                        }
                                    }
                                    if (regresado == false)
                                    {
                                        <td>Prestado</td>
                                    }
                                    else
                                    {
                                        <td>Regresado</td>
                                    }
                            }
                                <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="fas fa-eye"></span></a>
                            </td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MiTabla').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Careers/Delete/' + item_to_delete;
            });
        });
    </script>
}