@model IEnumerable<MAV.Web.Data.Entities.Material>

@{
    ViewData["Title"] = "Lista de Materiales";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Materiales</h2>
                @Html.ValidationMessage("CustomError")
                <div class="text-danger">@Html.ValidationSummary(true)</div>
            </div>
            <div class="panel-body">
                @if (this.User.IsInRole("Administrador") || this.User.IsInRole("Responsable") || this.User.IsInRole("Becario"))
                {
                    <p>
                        <a asp-action="Create" class="btn btn-outline-success"><span class="fas fa-plus"></span></a>
                    </p>
                }
            <table id="MiTabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Label)
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageURL))
                                    {
                                        <img src="@Url.Content(item.ImageURL)" style="width:100px;height:100px" />
                                    }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Label)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Name)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="fas fa-eye"></span></a>
                                @if (this.User.IsInRole("Administrador")|| this.User.IsInRole("Responsable") || this.User.IsInRole("Becario"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><span class="fas fa-pen"></span></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="fas fa-trash"></span></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MiTabla').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Careers/Delete/' + item_to_delete;
            });
        });
    </script>
}




