@model MAV.Web.Data.Entities.LoanDetail

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

<h1>Details</h1>

<div>
    <h4>LoanDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Loans" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary"><span class="fas fa-arrow-left"></span></a>
</div>
