@model IEnumerable<MAV.Web.Data.Entities.LoanDetail>

@{
    ViewData["Title"] = "Detalle de préstamos";
}

<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Detalle de los préstamos</h2>
            </div>
            <div class="panel-body">
                <table id="MiTabla">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Material)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Material.Label)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateTimeOut)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateTimeIn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observations)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Loan)
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Material.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Material.Label)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeOut)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTimeIn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observations)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Loan.Id)
                                </td><td>
                                    @Html.DisplayFor(modelItem => item.Status.Name)
                                </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="fas fa-eye"></span></a>
                        </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MiTabla').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Careers/Delete/' + item_to_delete;
            });
        });
    </script>
}